<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="all" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="movideo_encoder_all.log" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p %C[%L] [%t] - %m%n" />		
		</layout>
	</appender>


    <logger name="com.movideo">
        <level value="DEBUG" />
    </logger>


    <root>
		<level value="WARN" />
		<appender-ref ref="all" />
<!-- 		<appender-ref ref="logstash"/>
 -->	</root>

</log4j:configuration>
